<!DOCTYPE html>
<html>
    <head>
        <title>{{.title}} / Lotis</title>
        <link rel="icon" href="/dist/images/favicon.png"/>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=0.75"/>
        <link rel="stylesheet" href="/dist/css/main.css"/>
        <link rel="stylesheet" href="/dist/css/abrasive-waterjet-cutting.css">
        <script src="/dist/js/jquery-3.4.1.min.js"></script>
        <script src="/dist/js/main.js"></script>
    </head>
    <body>
        {{.navbar}}
        {{.info-panel}}
        <section class="header">
            <h1>{{abrasive-waterjet-cutting.title}}</h1> <!-- TODO : Is this meant to be capitalised (the other headers are not) -->
        </section>
        <section class="text">
            <p>{{abrasive-waterjet-cutting.1}}</p>
            <p>{{abrasive-waterjet-cutting.2}}</p>
        </section>
        <section class="image">
            <img src="/dist/images/abrasive-waterjet-cutting-1.jpg"/>
            <span id="mixer">
                <h4>{{abrasive-waterjet-cutting.mixer.title}}</h4>
                <p>{{abrasive-waterjet-cutting.mixer.description}}</p>
            </span>
            <span id="nozzle">
                <h4 class="left">{{abrasive-waterjet-cutting.nozzle.title}}</h4>
                <p>{{abrasive-waterjet-cutting.nozzle.description}}</p>
            </span>
            <span id="kerf">
                <h4 class="left">{{abrasive-waterjet-cutting.kerf.title}}</h4>
                <p>{{abrasive-waterjet-cutting.kerf.description}}</p>
            </span>
            <span id="hazardous-emmisions">
                <h4 class="left">{{abrasive-waterjet-cutting.hazardous-emmisions.title}}</h4>
                <p>{{abrasive-waterjet-cutting.hazardous-emmisions.description}}</p>
            </span>
            <span id="guides">
                <h4 class="left">{{abrasive-waterjet-cutting.guides.title}}</h4>
                <p>{{abrasive-waterjet-cutting.guides.description}}</p>
            </span>
        </section>
        <section class="text">
            <h3>{{advantages}}</h3>
            <ul>
                <li>{{abrasive-waterjet-cutting.advantages.1}}</li>
                <li>{{abrasive-waterjet-cutting.advantages.2}}</li>
                <li>{{abrasive-waterjet-cutting.advantages.3}}</li>
                <li>{{abrasive-waterjet-cutting.advantages.4}}</li>
                <li>{{abrasive-waterjet-cutting.advantages.5}}</li>
                <li>{{abrasive-waterjet-cutting.advantages.6}}</li>
                <li>{{abrasive-waterjet-cutting.advantages.7}}</li>
                <li>{{abrasive-waterjet-cutting.advantages.8}}</li>
            </ul>
            <div class="page-controls">
                <a class="previous" href="./acoustic-3D-sludge-mapping-in-a-filled-tank.html"><span>{{acoustic-3D-sludge-mapping-in-a-filled-tank.title}}</span></a>
                <a class="next" href="./auxiliary-equipment.html"><span>{{auxiliary-equipment.title}}</span></a>
            </div>
        </section>
        {{.footer}}
    </body>
</html>