<!DOCTYPE html>
<html>
    <head>
        <title>{{.title}} / Lotis</title>
        <link rel="icon" href="/dist/images/favicon.png"/>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=0.75"/>
        <link rel="stylesheet" href="/dist/css/main.css"/>
        <link rel="stylesheet" href="/dist/css/acoustic-3D-sludge-mapping-in-a-filled-tank.css">
        <script src="/dist/js/jquery-3.4.1.min.js"></script>
        <script src="/dist/js/main.js"></script>
    </head>
    <body>
        {{.navbar}}
        {{.info-panel}}
        <section class="header">
            <h1>{{acoustic-3D-sludge-mapping-in-a-filled-tank.title}}</h1>
        </section>
        <section class="text">
            <p>{{acoustic-3D-sludge-mapping-in-a-filled-tank.1}}</p>
            <p>{{acoustic-3D-sludge-mapping-in-a-filled-tank.2}}</p>
            <p>{{acoustic-3D-sludge-mapping-in-a-filled-tank.3}}</p>
        </section>
        <section class="image">
            <img src="/dist/images/acoustic-3D-sludge-mapping-in-a-filled-tank-1.jpg"/>
            <span id="sensor-insertion-points">
                <h4>{{acoustic-3D-sludge-mapping-in-a-filled-tank.sensor-insertion-points.title}}</h4>
                <p>{{acoustic-3D-sludge-mapping-in-a-filled-tank.sensor-insertion-points.description}}</p>
            </span>
            <span id="sensor">
                <h4>{{acoustic-3D-sludge-mapping-in-a-filled-tank.sensor.title}}</h4>
                <p>{{acoustic-3D-sludge-mapping-in-a-filled-tank.sensor.description}}</p>
            </span>
            <span id="scanning">
                <h4>{{acoustic-3D-sludge-mapping-in-a-filled-tank.scanning.title}}</h4>
                <p>{{acoustic-3D-sludge-mapping-in-a-filled-tank.scanning.description}}</p>
            </span>
            <span id="model">
                <h4>{{acoustic-3D-sludge-mapping-in-a-filled-tank.model.title}}</h4>
                <p>{{acoustic-3D-sludge-mapping-in-a-filled-tank.model.description}}</p>
            </span>
        </section>
        <section class="text">
            <h3>{{advantages}}</h3>
            <ul>
                <li>{{acoustic-3D-sludge-mapping-in-a-filled-tank.advantages.1}}</li>
                <li>{{acoustic-3D-sludge-mapping-in-a-filled-tank.advantages.2}}</li>
                <li>{{acoustic-3D-sludge-mapping-in-a-filled-tank.advantages.3}}</li>
                <li>{{acoustic-3D-sludge-mapping-in-a-filled-tank.advantages.4}}</li>
                <li>{{acoustic-3D-sludge-mapping-in-a-filled-tank.advantages.5}}</li>
                <li>{{acoustic-3D-sludge-mapping-in-a-filled-tank.advantages.6}}</li>
                <li>{{acoustic-3D-sludge-mapping-in-a-filled-tank.advantages.7}}</li>
            </ul>
            <div class="page-controls">
                <a class="previous" href="./tank-wall-and-vertical-steel-surfaces-cleaning.html"><span>{{tank-wall-and-vertical-steel-surfaces-cleaning.title}}</span></a>
                <a class="next" href="./abrasive-waterjet-cutting.html"><span>{{abrasive-waterjet-cutting.title}}</span></a>
            </div>
        </section>
        {{.footer}}
    </body>
</html>