<!DOCTYPE html>
<html>
    <head>
        <title>{{.title}} / Lotis</title>
        <link rel="icon" href="/dist/images/favicon.png"/>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=0.75"/>
        <link rel="stylesheet" href="/dist/css/main.css"/>
        <link rel="stylesheet" href="/dist/css/auxiliary-equipment.css">
        <script src="/dist/js/jquery-3.4.1.min.js"></script>
        <script src="/dist/js/main.js"></script>
    </head>
    <body>
        {{.navbar}}
        {{.info-panel}}
        <section class="header">
            <h1>{{auxiliary-equipment.title}}</h1> <!-- TODO : Capitalised??? -->
        </section>
        <section class="text">
            <p>{{auxiliary-equipment.1}}</p>
            <p>{{auxiliary-equipment.2}}</p>
        </section>
        <section class="image">
            <img src="/dist/images/auxiliary-equipment-1.jpg"/>
            <span id="storage-tanks">
                <h4>{{auxiliary-equipment.storage-tanks.title}}</h4>
                <p>{{auxiliary-equipment.storage-tanks.description}}</p>
            </span>
            <span id="nitrogen-generator">
                <h4>{{auxiliary-equipment.nitrogen-generator.title}}</h4>
                <p>{{auxiliary-equipment.nitrogen-generator.description}}</p>
            </span>
            <span id="air-compressors">
                <h4>{{auxiliary-equipment.air-compressors.title}}</h4>
                <p>{{auxiliary-equipment.air-compressors.description}}</p>
            </span>
            <span id="diesel-electric-generator">
                <h4>{{auxiliary-equipment.diesel-electric-generator.title}}</h4>
                <p>{{auxiliary-equipment.diesel-electric-generator.description}}</p>
            </span>
            <span id="diesel-steam-generator">
                <h4>{{auxiliary-equipment.diesel-steam-generator.title}}</h4>
                <p>{{auxiliary-equipment.diesel-steam-generator.description}}</p>
            </span>
        </section>
        <section class="text">
            <p>{{auxiliary-equipment.3}}</p>
            <p>{{auxiliary-equipment.4}}</p>
            <p>{{auxiliary-equipment.5}}</p>
            
            <h3>{{auxiliary-equipment.old.title}}</h3>
            <ul>
                <li>{{auxiliary-equipment.old.1}}</li>
                <li>{{auxiliary-equipment.old.2}}</li>
                <li>{{auxiliary-equipment.old.3}}</li>
                <li>{{auxiliary-equipment.old.4}}</li>
                <li>{{auxiliary-equipment.old.5}}</li>
                <li>{{auxiliary-equipment.old.6}}</li>
                <li>{{auxiliary-equipment.old.7}}</li>
                <li>{{auxiliary-equipment.old.8}}</li>
                <li>{{auxiliary-equipment.old.9}}</li>
                <li>{{auxiliary-equipment.old.10}}</li>
                <li>{{auxiliary-equipment.old.11}}</li>
                <li>{{auxiliary-equipment.old.12}}</li>
            </ul>

            <div class="page-controls">
                <a class="previous" href="./abrasive-waterjet-cutting.html"><span>{{abrasive-waterjet-cutting.title}}</span></a>
                <a class="next" href="./rental-of-equipment.html"><span>{{rental-of-equipment.title}}</span></a>
            </div>
        </section>
        {{.footer}}
    </body>
</html>