<!DOCTYPE html>
<html>
    <head>
        <title>{{.title}} / Lotis</title>
        <link rel="icon" href="/dist/images/favicon.png"/>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=0.75"/>
        <link rel="stylesheet" href="/dist/css/main.css"/>
        <link rel="stylesheet" href="/dist/css/crude-oil-washing.css">
        <script src="/dist/js/jquery-3.4.1.min.js"></script>
        <script src="/dist/js/main.js"></script>
    </head>
    <body>
        {{.navbar}}
        {{.info-panel}}
        <section class="header">
            <h1>{{crude-oil-washing.title}}</h1>
        </section>
        <section class="text">
            <p>{{crude-oil-washing.1}}</p>
            <p>{{crude-oil-washing.2}}</p>
            <p>{{crude-oil-washing.3}}</p>
        </section>
        <section class="image">
            <img src="/dist/images/crude-oil-washing-1.jpg"/>
            <span id="riser">
                <h4>{{crude-oil-washing.riser.title}}</h4>
                <p>{{crude-oil-washing.riser.description}}</p>
            </span>
            <span id="unit-b">
                <h4>{{crude-oil-washing.unit-b.title}}</h4>
                <p>{{crude-oil-washing.unit-b.description}}</p>
            </span>
            <span id="unit-a">
                <h4>{{crude-oil-washing.unit-a.title}}</h4>
                <p>{{crude-oil-washing.unit-a.description}}</p>
            </span>
            <span id="separator">
                <h4>{{crude-oil-washing.separation.title}}</h4> <!-- TODO : The label was previously set to the description is it actually meant to be like that? -->
                <p>{{crude-oil-washing.separation.description}}</p>
            </span>
        </section>
        
        <section class="image">
            <img src="/dist/images/crude-oil-washing-2.jpg"/>
            <span id="nitrogen-hose">
                <h4>{{crude-oil-washing.nitrogen-hose.title}}</h4>
                <p>{{crude-oil-washing.nitrogen-hose.description}}</p>
            </span>
            <span id="washing-machines">
                <h4 class="left">{{crude-oil-washing.washing-machines.title}}</h4>
                <p>{{crude-oil-washing.washing-machines.description}}</p>
                <div class="video">
                    <iframe src="https://player.vimeo.com/video/22235887?title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                </div>
                <script src="https://player.vimeo.com/api/player.js"></script>
            </span>
            <span id="roof-legs">
                <h4>{{crude-oil-washing.roof-legs.title}}</h4>
                <p>{{crude-oil-washing.roof-legs.description}}</p>
            </span>
            <span id="pneumatic-valve">
                <h4>{{crude-oil-washing.pneumatic-valve.title}}</h4>
                <p>{{crude-oil-washing.pneumatic-valve.description}}</p>
            </span>
        </section>
        <section class="text">
            <h3>{{advantages}}</h3>
            <ul>
                <li>{{crude-oil-washing.advantages.1}}</li>
                <li>{{crude-oil-washing.advantages.2}}</li>
                <li>{{crude-oil-washing.advantages.3}}</li>
                <li>{{crude-oil-washing.advantages.4}}</li>
                <li>{{crude-oil-washing.advantages.5}}</li>
                <li>{{crude-oil-washing.advantages.6}}</li>
                <li>{{crude-oil-washing.advantages.7}}</li>
                <li>{{crude-oil-washing.advantages.8}}</li>
            </ul>
            <div class="embed">
                <div style="background: url(/dist/images/video1.jpg) 0 0"></div> <!-- TODO : I am assuming that this div should reapear on video end -->
                <iframe src="https://www.youtube.com/embed/qS7Oee6qLek?enablejsapi=1" id="video1"></iframe>
            </div>
            <div class="page-controls">
                <div class="control-placeholder"></div>
                <a class="next" href="./mechanical-sludge-removal.html"><span>{{mechanical-sludge-removal.title}}</span></a>
            </div>
        </section>
        {{.footer}}
    </body>
</html>