<!DOCTYPE html>
<html>
    <head>
        <title>{{.title}} / Lotis</title>
        <link rel="icon" href="/dist/images/favicon.png"/>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=0.75"/>
        <link rel="stylesheet" href="/dist/css/main.css"/>
        <link rel="stylesheet" href="/dist/css/mechanical-sludge-removal.css">
        <script src="/dist/js/jquery-3.4.1.min.js"></script>
        <script src="/dist/js/main.js"></script>
    </head>
    <body>
        {{.navbar}}
        {{.info-panel}}
         <section class="header">
            <h1>{{mechanical-sludge-removal.title}}</h1>
        </section>
        <section class="text">
            <p>{{mechanical-sludge-removal.1}}</p>
            <p>{{mechanical-sludge-removal.2}}</p>
            <p>{{mechanical-sludge-removal.3}}</p>
            <p>{{mechanical-sludge-removal.4}}</p>
            <ul>
                <li>{{mechanical-sludge-removal.5.1}}</li>
                <li>{{mechanical-sludge-removal.5.2}}</li>
                <li>{{mechanical-sludge-removal.5.3}}</li>
                <li>{{mechanical-sludge-removal.5.4}}</li>
                <li>{{mechanical-sludge-removal.5.5}}</li>
            </ul>
        </section>
        <section class="image">
            <img src="/dist/images/mechanical-sludge-removal-1.jpg"/>
            <span id="vacuum-unit">
                <h4>{{mechanical-sludge-removal.vacuum-unit.title}}</h4>
                <p>{{mechanical-sludge-removal.vacuum-unit.description}}</p>
            </span>
            <span id="delivery-suction-hoses">
                <h4>{{mechanical-sludge-removal.delivery-suction-hoses.title}}</h4>
                <p>{{mechanical-sludge-removal.delivery-suction-hoses.description}}</p>
            </span>
            <span id="delivery-unit">
                <h4 class="left">{{mechanical-sludge-removal.delivery-unit.title}}</h4>
                <p>{{mechanical-sludge-removal.delivery-unit.description}}</p>
            </span>
        </section>
        <section class="text">
            <h3>{{advantages}}</h3>
            <ul>
                <li>{{mechanical-sludge-removal.advantages.1}}</li>
                <li>{{mechanical-sludge-removal.advantages.2}}</li>
                <li>{{mechanical-sludge-removal.advantages.3}}</li>
                <li>{{mechanical-sludge-removal.advantages.4}}</li>
                <li>{{mechanical-sludge-removal.advantages.5}}</li>
                <li>{{mechanical-sludge-removal.advantages.6}}</li>
                <li>{{mechanical-sludge-removal.advantages.7}}</li>
                <li>{{mechanical-sludge-removal.advantages.8}}</li>
                <li>{{mechanical-sludge-removal.advantages.9}}</li>
                <li>{{mechanical-sludge-removal.advantages.10}}</li>
                <li>{{mechanical-sludge-removal.advantages.11}}</li>
                <li>{{mechanical-sludge-removal.advantages.12}}</li>
            </ul>
            <div class="page-controls">
                <a class="previous" href="./crude-oil-washing.html"><span>{{crude-oil-washing.title}}</span></a>
                <a class="next" href="./tank-wall-and-vertical-steel-surfaces-cleaning.html"><span>{{tank-wall-and-vertical-steel-surfaces-cleaning.title}}</span></a>
            </div>
        </section>
        {{.footer}}
    </body>
</html>