<!DOCTYPE html>
<html>
    <head>
        <title>{{.title}} / Lotis</title>
        <link rel="icon" href="/dist/images/favicon.png"/>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=0.75"/>
        <link rel="stylesheet" href="/dist/css/main.css"/>
        <script src="/dist/js/jquery-3.4.1.min.js"></script>
        <script src="/dist/js/main.js"></script>
    </head>
    <body>
        {{.navbar}}
        {{.info-panel}}
        <section class="header">
            <h1>{{rental-of-equipment.title}}</h1>
        </section>
        <section class="text">
            <h3 style="text-align: center;">{{rental-of-equipment.subtitle}}</h3>
            <ul>
                <li>{{rental-of-equipment.1}}</li>
                <li>{{rental-of-equipment.2}}</li>
                <li>{{rental-of-equipment.3}}</li>
                <li>{{rental-of-equipment.4}}</li>
                <li>{{rental-of-equipment.5}}</li>
                <li>{{rental-of-equipment.6}}</li>
                <li>{{rental-of-equipment.7}}</li>
                <li>{{rental-of-equipment.8}}</li>
                <li>{{rental-of-equipment.9}}</li>
                <li>{{rental-of-equipment.10}}</li>
                <li>{{rental-of-equipment.11}}</li>
                <li>{{rental-of-equipment.12}}</li>
                <li>{{rental-of-equipment.13}}</li>
                <li>{{rental-of-equipment.14}}</li>
                <li>{{rental-of-equipment.15}}</li>
                <li>{{rental-of-equipment.16}}</li>
                <li>{{rental-of-equipment.17}}</li>
                <li>{{rental-of-equipment.18}}</li>
                <li>{{rental-of-equipment.19}}</li>
                <li>{{rental-of-equipment.20}}</li>
                <li>{{rental-of-equipment.21}}</li>
                <li>{{rental-of-equipment.22}}</li>
                <li>{{rental-of-equipment.23}}</li>
                <li>{{rental-of-equipment.24}}</li>
                <li>{{rental-of-equipment.25}}</li>
                <li>{{rental-of-equipment.26}}</li>
                <li>{{rental-of-equipment.27}}</li>
                <li>{{rental-of-equipment.28}}</li>
                <li>{{rental-of-equipment.29}}</li>
                <li>{{rental-of-equipment.30}}</li>
                <li>{{rental-of-equipment.31}}</li>
                <li>{{rental-of-equipment.32}}</li>
                <li>{{rental-of-equipment.33}}</li>
            </ul>
            <div class="page-controls">
                <a class="previous" href="./auxiliary-equipment.html"><span>{{auxiliary-equipment.title}}</span></a>
                <div class="control-placeholder"></div>
            </div>
        </section>
        {{.footer}}
    </body>
</html>