<!DOCTYPE html>
<html>
    <head>
        <title>{{.title}} / Lotis</title>
        <link rel="icon" href="/dist/images/favicon.png"/>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=0.75"/>
        <link rel="stylesheet" href="/dist/css/main.css"/>
        <link rel="stylesheet" href="/dist/css/tank-wall-and-vertical-steel-surfaces-cleaning.css">
        <script src="/dist/js/jquery-3.4.1.min.js"></script>
        <script src="/dist/js/main.js"></script>
    </head>
    <body>
        {{.navbar}}
        {{.info-panel}}
        <section class="header">
            <h1>{{tank-wall-and-vertical-steel-surfaces-cleaning.title}}</h1>
        </section>
        <section class="text">
            <p>{{tank-wall-and-vertical-steel-surfaces-cleaning.1}}</p>
        </section>
        <section class="image">
            <img src="/dist/images/tank-wall-and-vertical-steel-surfaces-cleaning-1.jpg"/>
            <span id="safety">
                <h4>{{tank-wall-and-vertical-steel-surfaces-cleaning.safety.title}}</h4>
                <p>{{tank-wall-and-vertical-steel-surfaces-cleaning.safety.description}}</p>
            </span>
            <span id="surface-preparation"> <!-- TODO : Weird title??? -->
                <h4 class="left">{{tank-wall-and-vertical-steel-surfaces-cleaning.surface-preparation.title}}</h4>
                <p>{{tank-wall-and-vertical-steel-surfaces-cleaning.surface-preparation.description}}</p>
            </span>
            <span id="magnet">
                <h4 class="left">{{tank-wall-and-vertical-steel-surfaces-cleaning.magnet.title}}</h4>
                <p>{{tank-wall-and-vertical-steel-surfaces-cleaning.magnet.description}}</p>
            </span>
            <span id="vacuum-system">
                <h4 class="left">{{tank-wall-and-vertical-steel-surfaces-cleaning.vacuum-system.title}}</h4>
                <p>{{tank-wall-and-vertical-steel-surfaces-cleaning.vacuum-system.description}}</p>
            </span>
        </section>
        <section class="text">
            <h3>{{advantages}}</h3>
            <ul>
                <li>{{tank-wall-and-vertical-steel-surfaces-cleaning.advantages.1}}</li>
                <li>{{tank-wall-and-vertical-steel-surfaces-cleaning.advantages.2}}</li>
                <li>{{tank-wall-and-vertical-steel-surfaces-cleaning.advantages.3}}</li>
                <li>{{tank-wall-and-vertical-steel-surfaces-cleaning.advantages.4}}</li>
                <li>{{tank-wall-and-vertical-steel-surfaces-cleaning.advantages.5}}</li>
                <li>{{tank-wall-and-vertical-steel-surfaces-cleaning.advantages.6}}</li>
                <li>{{tank-wall-and-vertical-steel-surfaces-cleaning.advantages.7}}</li>
            </ul>
            <div class="page-controls">
                <a class="previous" href="./mechanical-sludge-removal.html"><span>{{mechanical-sludge-removal.title}}</span></a>
                <a class="next" href="./acoustic-3D-sludge-mapping-in-a-filled-tank.html"><span>{{acoustic-3D-sludge-mapping-in-a-filled-tank.title}}</span></a>
            </div>
        </section>
        {{.footer}}
    </body>
</html>