<!DOCTYPE html>
<html>
    <head>
        <title>{{.title}} / Lotis</title>
        <link rel="icon" href="/dist/images/favicon.png"/>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=0.75"/>
        <link rel="stylesheet" href="/dist/css/main.css"/>
        <script src="/dist/js/jquery-3.4.1.min.js"></script>
        <script src="/dist/js/main.js"></script>
    </head>
    <body>
        {{.navbar}}
        <section class="header">
            <h1>{{about-us-html.title}}</h1>
        </section>
        <section class="text">
            <h2>{{about-us-html.1.title}}</h2>
            <p>{{about-us-html.1.1}}</p>
            
            <h2>{{about-us-html.2.title}}</h2>
            <p>{{about-us-html.2.1}}</p>
            <p>{{about-us-html.2.2}}</p>

            <h2>{{about-us-html.3.title}}</h2>
            <p>{{about-us-html.3.1}}</p>
            <p>{{about-us-html.3.2}}</p>

            <h2>{{about-us-html.4.title}}</h2>
            <p>{{about-us-html.4.1}}</p>
            <p>{{about-us-html.4.2}}</p>
        </section>
        {{.footer}}
    </body>
</html>