<!DOCTYPE html>
<html>
    <head>
        <title>{{.title}} / Lotis</title>
        <link rel="icon" href="/dist/images/favicon.png"/>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=0.75"/>
        <link rel="stylesheet" href="/dist/css/main.css"/>
        <link rel="stylesheet" href="/dist/css/slideshow.css"/>
        <link rel="stylesheet" href="/dist/css/index.css"/>
        <script src="/dist/js/jquery-3.4.1.min.js"></script>
        <script src="/dist/js/slideshow.js"></script>
        <script src="/dist/js/main.js"></script>
    </head>
    <body>
        {{.navbar}}
        <div style="height: 109px"></div>
        {{.footer}}
    </body>
</html>