<footer>
    <a href="/{{locale}}/" class="logo">
        <img src="/dist/images/logo-{{locale}}.png"/>
    </a>
	<h3><a href="mailto:{{locations.email}}">{{locations.email}}</a></h3>
	<!--div class="locations">
        <div>
            <div class="icon">
                <img src="/dist/images/switzerland.png"/>
            </div>
            <div class="text">
                <h4>{{locations.switzerland.phone}}</h4>
            </div>
        </div>
        <div>
            <div class="icon">
                <img src="/dist/images/russia.png"/>
            </div>
            <div class="text">
                <h4>{{locations.russia.phone}}</h4>
            </div>
        </div>
        <div>   
            <div class="icon">
                <img src="/dist/images/kazakhstan.png"/>
            </div>
            <div class="text">
                <h4>{{locations.kazakhstan.phone}}</h4>
            </div>
        </div>
    </div-->
    <div class="social-links">
        <a id="linkedin" href="https://www.linkedin.com/company/lotis-sa?trk=biz-companies-cyf"></a>
        <a id="twitter" href="https://twitter.com/Lotis_SRS"></a>
        <a id="facebook" href="http://www.facebook.com/LotisTankCleaning"></a>
    </div>
    <p class="copyright">{{copyright}}</p>
</footer>
