<!DOCTYPE html>
<html>
    <head>
        <title>{{.title}} / Lotis</title>
        <link rel="icon" href="/dist/images/favicon.png"/>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=0.75"/>
        <link rel="stylesheet" href="/dist/css/main.css"/>
        <script src="/dist/js/jquery-3.4.1.min.js"></script>
        <script src="/dist/js/main.js"></script>
        <script>
            let imageViewers = {};
            $(document).ready(() => {
                let sourceLengths = {
                    "srs": 18,
                    "kraken_triton": 8,
                    "auxilliary": 28,
                    "equipment_3d": 3,
                    "vertidrive": 5,
                    "steam_generator": 4,
                    "water_cutting": 5,
                    "sludge": 2
                };

                Object.entries(sourceLengths).forEach(([section, length]) => {
                    let sources = [];
                    for (var x=1; x<=length; x++) {
                        sources.push(`/dist/images/gallery/${section}/${x}.jpg`);
                    }
                    imageViewers[section] = new ImageViewer($(".gallery-image-viewer#"+section), $("section.text .gallery#"+section), sources, true)
                });
            });
        </script>
    </head>
    <body>
        {{.navbar}}
        <div id="srs" class="gallery-image-viewer image-viewer hidden disabled">{{.image-viewer}}</div>
        <div id="kraken_triton" class="gallery-image-viewer image-viewer hidden disabled">{{.image-viewer}}</div>
        <div id="auxilliary" class="gallery-image-viewer image-viewer hidden disabled">{{.image-viewer}}</div>
        <div id="equipment_3d" class="gallery-image-viewer image-viewer hidden disabled">{{.image-viewer}}</div>
        <div id="vertidrive" class="gallery-image-viewer image-viewer hidden disabled">{{.image-viewer}}</div>
        <div id="steam_generator" class="gallery-image-viewer image-viewer hidden disabled">{{.image-viewer}}</div>
        <div id="water_cutting" class="gallery-image-viewer image-viewer hidden disabled">{{.image-viewer}}</div>
        <div id="sludge" class="gallery-image-viewer image-viewer hidden disabled">{{.image-viewer}}</div>
        <section class="header">
            <h1>{{gallery-html.title}}</h1>
        </section>
        <section class="text">
            <div class="embed">
                <div style="background: url(/dist/images/video1.jpg) 0 0"></div> <!-- TODO : I am assuming that this div should reapear on video end -->
				<iframe src="{{gallery-html.srs-url}}" id="video1" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="gallery" id="embed">
                <div>
                    <div class="embed">
                        <div class=""></div>
                        <img src="/dist/images/gallery/vertidrive/video.compressed.jpg"/>
                        <iframe src="https://www.youtube.com/embed/ydtRxnfmVmM?enablejsapi=1" id="video2" frameborder="0" allow="picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="gallery" id="srs">
                <div><img src="/dist/images/gallery/vertidrive/video.compressed.jpg"/></div>
                <a><img src="/dist/images/gallery/srs/1.compressed.jpg"/></a>
                <a><img src="/dist/images/gallery/srs/2.compressed.jpg"/></a>
                <a><img src="/dist/images/gallery/srs/3.compressed.jpg"/></a>
                <a><img src="/dist/images/gallery/srs/4.compressed.jpg"/></a>
                <a><img src="/dist/images/gallery/srs/5.compressed.jpg"/></a>
                <a><img src="/dist/images/gallery/srs/6.compressed.jpg"/></a>
                <a><img src="/dist/images/gallery/srs/7.compressed.jpg"/></a>
                <a><img src="/dist/images/gallery/srs/8.compressed.jpg"/></a>
                <a><img src="/dist/images/gallery/srs/9.compressed.jpg"/></a>
                <a><img src="/dist/images/gallery/srs/10.compressed.jpg"/></a>
                <a><img src="/dist/images/gallery/srs/11.compressed.jpg"/></a>
                <a><img src="/dist/images/gallery/srs/12.compressed.jpg"/></a>
                <a><img src="/dist/images/gallery/srs/13.compressed.jpg"/></a>
                <a><img src="/dist/images/gallery/srs/14.compressed.jpg"/></a>
                <a><img src="/dist/images/gallery/srs/15.compressed.jpg"/></a>
                <a><img src="/dist/images/gallery/srs/16.compressed.jpg"/></a>
                <a><img src="/dist/images/gallery/srs/17.compressed.jpg"/></a>
                <a><img src="/dist/images/gallery/srs/18.compressed.jpg"/></a>
            </div>
            <hr/><br/>
            <div class="gallery" id="kraken_triton">
                <a><img src="/dist/images/gallery/kraken_triton/1.compressed.jpg"/></a>
                <a><img src="/dist/images/gallery/kraken_triton/2.compressed.jpg"/></a>
                <a><img src="/dist/images/gallery/kraken_triton/3.compressed.jpg"/></a>
                <a><img src="/dist/images/gallery/kraken_triton/4.compressed.jpg"/></a>
                <a><img src="/dist/images/gallery/kraken_triton/5.compressed.jpg"/></a>
                <a><img src="/dist/images/gallery/kraken_triton/6.compressed.jpg"/></a>
                <a><img src="/dist/images/gallery/kraken_triton/7.compressed.jpg"/></a>
                <a><img src="/dist/images/gallery/kraken_triton/8.compressed.jpg"/></a>
            </div>
            <hr/><br/>
            <div class="gallery" id="auxilliary">
                <a><img src="/dist/images/gallery/auxilliary/1.compressed.jpg"/></a>
                <!--a><img src="/dist/images/gallery/auxilliary/2.compressed.jpg"/></a-->
                <a><img src="/dist/images/gallery/auxilliary/3.compressed.jpg"/></a>
                <a><img src="/dist/images/gallery/auxilliary/4.compressed.jpg"/></a>
                <a><img src="/dist/images/gallery/auxilliary/5.compressed.jpg"/></a>
                <a><img src="/dist/images/gallery/auxilliary/6.compressed.jpg"/></a>
                <a><img src="/dist/images/gallery/auxilliary/7.compressed.jpg"/></a>
                <a><img src="/dist/images/gallery/auxilliary/8.compressed.jpg"/></a>
                <a><img src="/dist/images/gallery/auxilliary/9.compressed.jpg"/></a>
                <a><img src="/dist/images/gallery/auxilliary/10.compressed.jpg"/></a>
                <a><img src="/dist/images/gallery/auxilliary/11.compressed.jpg"/></a>
                <a><img src="/dist/images/gallery/auxilliary/12.compressed.jpg"/></a>
                <a><img src="/dist/images/gallery/auxilliary/13.compressed.jpg"/></a>
                <a><img src="/dist/images/gallery/auxilliary/14.compressed.jpg"/></a>
                <a><img src="/dist/images/gallery/auxilliary/15.compressed.jpg"/></a>
                <a><img src="/dist/images/gallery/auxilliary/16.compressed.jpg"/></a>
                <a><img src="/dist/images/gallery/auxilliary/17.compressed.jpg"/></a>
                <a><img src="/dist/images/gallery/auxilliary/18.compressed.jpg"/></a>
                <a><img src="/dist/images/gallery/auxilliary/19.compressed.jpg"/></a>
                <a><img src="/dist/images/gallery/auxilliary/20.compressed.jpg"/></a>
                <a><img src="/dist/images/gallery/auxilliary/21.compressed.jpg"/></a>
                <a><img src="/dist/images/gallery/auxilliary/22.compressed.jpg"/></a>
                <a><img src="/dist/images/gallery/auxilliary/23.compressed.jpg"/></a>
                <a><img src="/dist/images/gallery/auxilliary/24.compressed.jpg"/></a>
                <a><img src="/dist/images/gallery/auxilliary/25.compressed.jpg"/></a>
                <a><img src="/dist/images/gallery/auxilliary/26.compressed.jpg"/></a>
            </div>
            <hr/><br/>
            <div class="gallery" id="equipment_3d">
                <a><img src="/dist/images/gallery/equipment_3d/1.compressed.jpg"/></a>
                <a><img src="/dist/images/gallery/equipment_3d/2.compressed.jpg"/></a>
                <a><img src="/dist/images/gallery/equipment_3d/3.compressed.jpg"/></a>
            </div>
            <hr/><br/>
            <div class="gallery" id="vertidrive">
                <a><img src="/dist/images/gallery/vertidrive/1.compressed.jpg"/></a>
                <a><img src="/dist/images/gallery/vertidrive/2.compressed.jpg"/></a>
                <a><img src="/dist/images/gallery/vertidrive/3.compressed.jpg"/></a>
                <a><img src="/dist/images/gallery/vertidrive/4.compressed.jpg"/></a>
                <a><img src="/dist/images/gallery/vertidrive/5.compressed.jpg"/></a>
            </div>
            <hr/><br/>
            <div class="gallery" id="steam_generator">
                <a><img src="/dist/images/gallery/steam_generator/1.compressed.jpg"/></a>
                <a><img src="/dist/images/gallery/steam_generator/2.compressed.jpg"/></a>
                <a><img src="/dist/images/gallery/steam_generator/3.compressed.jpg"/></a>
                <a><img src="/dist/images/gallery/steam_generator/4.compressed.jpg"/></a>
            </div>
            <hr/><br/>
            <div class="gallery" id="water_cutting">
                <a><img src="/dist/images/gallery/water_cutting/1.compressed.jpg"/></a>
                <a><img src="/dist/images/gallery/water_cutting/2.compressed.jpg"/></a>
                <a><img src="/dist/images/gallery/water_cutting/3.compressed.jpg"/></a>
                <a><img src="/dist/images/gallery/water_cutting/4.compressed.jpg"/></a>
                <a><img src="/dist/images/gallery/water_cutting/5.compressed.jpg"/></a>
            </div>
            <hr/><br/>
            <div class="gallery" id="sludge">
                <a><img src="/dist/images/gallery/sludge/1.compressed.jpg"/></a>
                <a><img src="/dist/images/gallery/sludge/2.compressed.jpg"/></a>
            </div>
        </section>
        {{.footer}}
    </body>
</html>
