<div class="viewer-window">
    <div>
        <p></p>
        <a id="close">×</a>
    </div>
    <div class="image-container">
        <img src="" alt="loading image"/>
        <a style="left: 0" id="previous"></a>
        <a style="right: 0" id="next"></a>
    </div>
    <div id="image-select"></div>
</div>