<!DOCTYPE html>
<html>
    <head>
        <title>{{.title}} / Lotis</title>
        <link rel="icon" href="/dist/images/favicon.png"/>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=0.75"/>
        <link rel="stylesheet" href="/dist/css/main.css"/>
        <link rel="stylesheet" href="/dist/css/slideshow.css"/>
        <link rel="stylesheet" href="/dist/css/index.css"/>
        <link rel="icon" href="/dist/images/favicon.png"/>
        <script src="/dist/js/jquery-3.4.1.min.js"></script>
        <script src="/dist/js/slideshow.js"></script>
        <script src="/dist/js/main.js"></script>
    </head>
    <body>
        {{.navbar}}
        <section class="slideshow-container">
            <figure id="image-1"></figure>
            <figure id="image-2"></figure>
            <figure id="image-3"></figure>
            <div class="text">
                <div id="text-1"> 
                    <span class="line"></span>
                    <h2>{{slideshow.text-1.title}}</h2>
                    <h3>{{slideshow.text-1.subtitle}}</h3>
                    <p>{{slideshow.text-1.description}}</p>
                </div>
            </div>
            <div class="text">
                <div id="text-2">
                    <span class="line"></span>
                    <h2>{{slideshow.text-2.title}}</h2>
                    <br/><br/>
                    <p>{{slideshow.text-2.description}}</p>
                </div>
            </div>
            <div class="text">
                <div id="text-3">
                    <span class="line"></span>
                    <h2>{{slideshow.text-3.title}}</h2>
                    <p>{{slideshow.text-3.description}}</p>
                </div>
            </div>
        </section>
        <section class="slideshow-options">
            <a id="slide-1">{{slideshow.text-1.subtitle}}</a>
            <a id="slide-2">{{slideshow.text-2.title}}</a>
            <a id="slide-3">{{slideshow.text-3.title}}</a>
        </section>
        <div style="height: 100px"></div>
        <section class="sediments">
            <h2>{{sediments.title}}</h2>
            <hr class="line"/>
            <div>
                <div>
                    <div id="sediment-1">
                        <div class="sediment-icon-background">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 463 463" style="enable-background:new 0 0 463 463;" xml:space="preserve" id="smaller-sediment-icon">
                                <g>
                                    <path d="M431.5,400c-5.972,0-11.561,1.671-16.325,4.569L287.711,277.104c-0.222-0.222-0.457-0.421-0.698-0.609   C297,264.198,303,248.539,303,231.5c0-17.017-5.985-32.656-15.948-44.946l86.888-86.888C383.268,106.77,394.897,111,407.5,111   c30.603,0,55.5-24.897,55.5-55.5S438.103,0,407.5,0S352,24.897,352,55.5c0,12.603,4.23,24.232,11.334,33.559l-86.888,86.888   C264.156,165.985,248.517,160,231.5,160s-32.656,5.985-44.946,15.948l-40.123-40.123c2.898-4.764,4.569-10.353,4.569-16.325   c0-17.369-14.131-31.5-31.5-31.5S88,102.131,88,119.5s14.131,31.5,31.5,31.5c5.972,0,11.561-1.671,16.325-4.569l40.123,40.123   C165.985,198.844,160,214.483,160,231.5c0,9.652,1.933,18.858,5.415,27.266l-95.404,51.677C62.761,301.63,51.776,296,39.5,296   C17.72,296,0,313.72,0,335.5S17.72,375,39.5,375S79,357.28,79,335.5c0-4.137-0.642-8.126-1.827-11.876l95.408-51.679   C185.485,290.684,207.077,303,231.5,303c2.74,0,5.44-0.17,8.101-0.472l9.943,44.743C239.159,352.426,232,363.14,232,375.5   c0,17.369,14.131,31.5,31.5,31.5s31.5-14.131,31.5-31.5c0-17.139-13.761-31.115-30.813-31.483l-9.944-44.747   c8.174-2.75,15.693-6.93,22.253-12.257c0.188,0.241,0.387,0.476,0.609,0.698l127.464,127.464   C401.671,419.939,400,425.528,400,431.5c0,17.369,14.131,31.5,31.5,31.5s31.5-14.131,31.5-31.5S448.869,400,431.5,400z M39.5,360   C25.991,360,15,349.009,15,335.5S25.991,311,39.5,311S64,321.991,64,335.5S53.009,360,39.5,360z M280,375.5   c0,9.098-7.402,16.5-16.5,16.5s-16.5-7.402-16.5-16.5s7.402-16.5,16.5-16.5S280,366.402,280,375.5z M407.5,15   c22.332,0,40.5,18.168,40.5,40.5S429.832,96,407.5,96S367,77.832,367,55.5S385.168,15,407.5,15z M103,119.5   c0-9.098,7.402-16.5,16.5-16.5s16.5,7.402,16.5,16.5s-7.402,16.5-16.5,16.5S103,128.598,103,119.5z M231.5,288   c-31.154,0-56.5-25.346-56.5-56.5s25.346-56.5,56.5-56.5s56.5,25.346,56.5,56.5S262.654,288,231.5,288z M431.5,448   c-9.098,0-16.5-7.402-16.5-16.5s7.402-16.5,16.5-16.5s16.5,7.402,16.5,16.5S440.598,448,431.5,448z"></path>
                                    <path d="M231.5,192c-4.142,0-7.5,3.358-7.5,7.5s3.358,7.5,7.5,7.5c13.509,0,24.5,10.991,24.5,24.5c0,4.142,3.358,7.5,7.5,7.5   s7.5-3.358,7.5-7.5C271,209.72,253.28,192,231.5,192z"></path>
                                    <path d="M407.5,47c4.687,0,8.5,3.813,8.5,8.5c0,4.142,3.358,7.5,7.5,7.5s7.5-3.358,7.5-7.5c0-12.958-10.542-23.5-23.5-23.5   c-4.142,0-7.5,3.358-7.5,7.5S403.358,47,407.5,47z"></path>
                                </g>
                            </svg>
                        </div>
                        <h3>{{sediments.hydrocarbons}}</h3>
                        <hr class="line"/>
                    </div>
                    <div id="sediment-2">
                        <div class="sediment-icon-background">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 511.998 511.998" style="enable-background:new 0 0 511.998 511.998;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M416.099,330.649c-15.696-14.533-23.471-29.729-22.484-43.946c0.826-11.893,7.663-22.635,19.772-31.068
                                            c28.139-19.597,26.741-45.711,16.995-62.121c-11.646-19.607-34.198-27.506-52.459-18.377c-4.226,2.113-7.684,5.5-11.345,9.086
                                            c-5.326,5.217-10.834,10.612-19.339,12.932c-5.583,1.522-12.136,0.479-17.1-2.724c-3.69-2.38-6.03-5.61-6.587-9.095
                                            c-2.243-14.017,8.266-27.098,19.392-40.947c11.494-14.308,23.38-29.101,20.693-46.362c-4.378-28.129-29.188-42.767-50.322-42.246
                                            c-21.214,0.517-36.401,14.817-38.693,36.429c-2.718,25.618-10.017,42.902-20.554,48.669c-6.763,3.701-15.504,2.923-25.98-2.315
                                            c-14.969-7.485-28.995-8.962-40.562-4.272c-9.667,3.92-16.839,11.884-20.741,23.031c-7.139,20.4,5.698,34.779,14.192,44.295
                                            c1.856,2.079,3.609,4.043,4.958,5.813c7.337,9.629,2.94,22.219-5.549,28.826c-13.168,10.252-27.259,2.081-36.055-8.981
                                            c-23.44-29.479-50.201-43.475-71.576-37.439c-14.586,4.119-24.271,17.31-26.574,36.189c-3.521,28.876,20.747,40.486,42.157,50.729
                                            c13.841,6.622,28.151,13.468,33.495,24.169c3.933,7.876-1.027,15.363-10.881,29.007c-12.37,17.127-29.31,40.582-21.219,76.024
                                            c7.671,33.596,31.104,55.242,64.295,59.387c3.72,0.464,7.443,0.69,11.14,0.69c29.801,0,57.914-14.678,69.482-37.288
                                            c14.92-29.161,30.897-45.074,47.491-47.295c22.751-3.045,44.326,20.622,55.916,33.337c1.203,1.32,2.317,2.542,3.337,3.635
                                            c14.3,15.32,37.124,21.254,59.581,15.481c21.516-5.532,37.763-20.361,42.4-38.7C450.028,368.884,432.215,345.571,416.099,330.649z
                                             M428.832,391.526c-3.291,13.015-15.397,23.687-31.594,27.85c-13.427,3.452-32.268,2.325-44.879-11.188
                                            c-0.984-1.054-2.058-2.232-3.218-3.505c-13.438-14.745-38.437-42.19-68.992-38.1c-21.76,2.913-41.561,21.529-58.854,55.331
                                            c-10.066,19.674-38.184,31.946-65.41,28.545c-26.563-3.316-45.345-20.754-51.529-47.841c-6.581-28.823,6.879-47.46,18.755-63.904
                                            c9.986-13.827,20.313-28.124,12.141-44.49c-7.645-15.309-24.317-23.286-40.441-30.999C72.516,252.56,58.96,245.145,61.07,227.844
                                            c0.902-7.396,4.149-20.292,15.762-23.57c1.896-0.536,3.906-0.797,6.009-0.797c14.419,0,33.196,12.319,49.75,33.137
                                            c18.952,23.832,42.289,22.94,57.009,11.482c7.215-5.616,12.419-13.819,14.28-22.506c2.086-9.744-0.049-19.42-6.013-27.247
                                            c-1.702-2.234-3.644-4.409-5.699-6.711c-9.328-10.45-15.149-18.138-11.224-29.351c2.471-7.061,6.583-11.8,12.22-14.086
                                            c7.351-2.982,17.373-1.636,28.217,3.787c15.136,7.569,28.556,8.26,39.89,2.057c15.412-8.435,24.922-28.703,28.268-60.245
                                            c1.493-14.08,10.519-22.685,24.143-23.017c14.772-0.372,32.072,9.879,35.135,29.557c1.669,10.72-7.674,22.35-17.564,34.661
                                            c-12.096,15.056-25.804,32.12-22.51,52.711c1.239,7.745,5.951,14.609,13.268,19.33c8.561,5.522,19.467,7.238,29.178,4.59
                                            c12.268-3.346,19.82-10.744,25.888-16.688c2.795-2.738,5.437-5.325,7.557-6.385c9.478-4.739,24.214-1.926,32.853,12.622
                                            c6.771,11.397,6.996,28.454-12.671,42.151c-15.737,10.959-25.029,25.995-26.163,42.339c-0.915,13.182,3.071,33.596,27.256,55.991
                                            C424.744,359.096,432.671,376.342,428.832,391.526z"></path>
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path d="M105.049,70.862C103.447,59.97,99.306,48.14,93.388,37.55C79.63,12.93,59.524-0.725,38.228,0.03
                                            C23.163,0.578,9.96,9.574,3.769,23.507C-3.857,40.671,0.237,61.22,14.72,78.477c17.248,20.552,41.337,33.932,60.724,33.932
                                            c0.752,0,1.498-0.02,2.236-0.061c10.085-0.556,18.098-4.875,23.173-12.488C106.582,91.267,106.297,79.348,105.049,70.862z
                                             M88.373,91.539c-2.42,3.63-6.188,5.538-11.52,5.832C62.063,98.19,40.771,86.186,26.209,68.834
                                            C15.497,56.07,12.232,41.402,17.477,29.597c3.904-8.786,11.865-14.236,21.297-14.579c0.402-0.015,0.798-0.022,1.196-0.022
                                            c21.3,0,35.256,20.798,40.325,29.868C88.925,60.31,94.231,82.751,88.373,91.539z"></path>
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path d="M222.883,52.555c-1.203-7.046-9.866-26.817-24.167-33.938c-7.044-3.506-14.448-3.455-21.411,0.15
                                            c-10.97,5.681-17.302,15.874-16.938,27.265c0.413,12.962,9.154,24.431,23.382,30.682c6.882,3.024,12.593,4.166,17.295,4.166
                                            c6.458,0,11.013-2.155,14.078-4.548C221.652,71.232,224.554,62.343,222.883,52.555z M205.89,64.51
                                            c-2.847,2.224-8.87,1.652-16.107-1.528c-8.807-3.87-14.199-10.386-14.424-17.429c-0.177-5.557,3.046-10.465,8.844-13.468
                                            c2.682-1.39,5.097-1.403,7.828-0.042c8.559,4.261,15.369,18.945,16.067,23.034C208.813,59.273,207.969,62.887,205.89,64.51z"></path>
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path d="M465.751,77.781c-1.092-6.563-4.604-11.614-10.157-14.606c-5.368-2.893-12.478-3.67-21.131-2.307
                                            c-11.937,1.878-22.004,11.469-27.619,26.311c-4.862,12.852-6.133,30.21,1.989,40.025c3.558,4.299,8.456,6.56,14.058,6.56
                                            c1.265,0,2.566-0.116,3.896-0.349c9.845-1.727,20.26-9.633,28.575-21.693C463.451,99.993,467.335,87.304,465.751,77.781z
                                             M424.195,118.642c-2.599,0.457-3.355-0.456-3.808-1c-2.98-3.604-3.643-14.245,0.485-25.154
                                            c3.602-9.52,9.554-15.801,15.923-16.803c13.055-2.052,13.859,2.749,14.159,4.557C453.041,92.792,436.536,116.478,424.195,118.642z
                                            "></path>
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path d="M505.671,461.742c-9.121-11.994-26.101-18.965-40.364-16.581c-10.943,1.83-18.922,8.751-22.467,19.489
                                            c-6.121,18.542,7.773,38.137,24.591,44.805c4.32,1.713,8.594,2.543,12.706,2.543c12.219,0,22.995-7.339,29.206-20.668
                                            C513.889,481.574,512.552,470.791,505.671,461.742z M495.747,484.995c-2.872,6.164-9.652,15.727-22.787,10.518
                                            c-12.405-4.919-18.613-17.868-15.876-26.159c1.789-5.418,5.287-8.492,10.696-9.396c1.073-0.18,2.185-0.266,3.32-0.266
                                            c8.176,0,17.581,4.49,22.632,11.132C497.278,475.487,497.956,480.254,495.747,484.995z"></path>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <h3>{{sediments.impurities}}</h3>
                        <hr class="line"/>
                    </div>
                    <div id="sediment-3">
                        <div class="sediment-icon-background">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                <g>
                                    <g>
                                        <g>
                                            <path d="M291.273,220.481c-0.122-0.326-0.263-0.645-0.423-0.953l-20.002-38.549c-2.188-4.218-7.38-5.866-11.604-3.675
                                                c-4.22,2.188-5.865,7.384-3.675,11.604l19.757,38.078c10.501,28.5,9.348,59.39-3.264,87.039
                                                c-12.683,27.804-35.439,49.005-64.071,59.699c-11.642,4.348-23.844,6.758-36.269,7.166c-12.425-0.408-24.627-2.818-36.271-7.166
                                                c-28.632-10.693-51.386-31.894-64.07-59.699c-12.612-27.649-13.766-58.54-3.262-87.039L171.721,27.298L241.919,162.6
                                                c2.19,4.219,7.383,5.865,11.605,3.677c4.22-2.19,5.865-7.385,3.677-11.605L179.363,4.643C177.882,1.79,174.935,0,171.721,0
                                                c-3.215,0-6.161,1.79-7.641,4.643L52.591,219.528c-0.159,0.309-0.3,0.627-0.422,0.953c-12.303,32.94-11.044,68.698,3.55,100.688
                                                c14.592,31.988,40.769,56.38,73.709,68.681c13.491,5.039,27.633,7.816,42.031,8.255c0.087,0.003,0.175,0.004,0.263,0.004
                                                c0.087,0,0.175-0.001,0.261-0.004c14.399-0.439,28.541-3.216,42.03-8.255c32.94-12.301,59.118-36.693,73.71-68.681
                                                C302.316,289.182,303.577,253.423,291.273,220.481z"></path>
                                            <path d="M463.842,278.136c-0.122-0.326-0.264-0.645-0.423-0.953l-19.609-37.795c-2.188-4.218-7.381-5.864-11.605-3.677
                                                c-4.22,2.19-5.865,7.385-3.677,11.605l19.36,37.314c9.705,26.766-3.997,56.52-30.726,66.501
                                                c-5.254,1.961-10.755,3.056-16.357,3.256c-5.602-0.199-11.105-1.294-16.358-3.255c-13.027-4.864-23.378-14.51-29.147-27.159
                                                c-5.7-12.496-6.256-26.448-1.577-39.342l47.082-90.747l15.599,30.066c2.191,4.22,7.384,5.865,11.605,3.677
                                                c4.22-2.19,5.865-7.385,3.676-11.605l-23.24-44.793c-1.48-2.852-4.427-4.643-7.641-4.643c-3.215,0-6.161,1.79-7.641,4.643
                                                l-54.972,105.954c-0.16,0.309-0.301,0.627-0.423,0.953c-6.474,17.333-5.811,36.149,1.867,52.982
                                                c7.679,16.833,21.454,29.667,38.789,36.142c7.1,2.65,14.541,4.111,22.116,4.343c0.088,0.003,0.176,0.004,0.264,0.004
                                                c0.088,0,0.175-0.001,0.267-0.005c7.574-0.231,15.014-1.692,22.115-4.344C458.965,353.897,477.204,313.917,463.842,278.136z"></path>
                                            <path d="M353.97,444.884l-36.629-70.601c-1.48-2.852-4.427-4.643-7.641-4.643c-3.215,0-6.161,1.79-7.64,4.643l-36.633,70.601
                                                c-0.161,0.309-0.303,0.627-0.425,0.954c-9.455,25.326,3.455,53.625,28.782,63.084c5.025,1.874,10.29,2.908,15.651,3.073
                                                c0.088,0.003,0.176,0.004,0.265,0.004c0.088,0,0.176-0.001,0.266-0.004c5.357-0.165,10.622-1.199,15.652-3.074
                                                c25.325-9.459,38.234-37.758,28.775-63.084C354.271,445.512,354.129,445.193,353.97,444.884z M319.596,492.793
                                                c-3.182,1.187-6.512,1.855-9.898,1.987c-3.389-0.132-6.718-0.799-9.896-1.985c-16.279-6.08-24.652-24.157-18.842-40.473
                                                l28.738-55.383l28.733,55.383C344.243,468.637,335.871,486.714,319.596,492.793z"></path>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <h3>{{sediments.water}}</h3>
                        <hr class="line"/>
                    </div>
                </div>
            </div>
        </section>
        <section class="risks">
            <div>
                <h2>{{risks.title}}</h2>
                <hr class="left-line"/>
                <div>
                    <ul>
                        <li>{{risks.1.1}}</li>
                        <li>{{risks.1.2}}</li>
                        <li>{{risks.1.3}}</li>
                        <li>{{risks.1.4}}</li>
                    </ul>
                    <ul>
                        <li>{{risks.2.1}}</li>
                        <li>{{risks.2.2}}</li>
                        <li>{{risks.2.3}}</li>
                        <li>{{risks.2.4}}</li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="about">
            <div>
                <div class="title">
                    <h2>{{about.title}}</h2>
                    <hr class="left-line"/>
                    <a href="/{{locale}}/about-us.html">{{about.company}}</a> <!-- TODO : Is this meant to link to /{{locale}}/about-us.html ? -->
                </div>
                <div class="text">
                    <a href="#">{{about.policy}}</a> <!-- TODO : Is this meant to be a link at all? -->
                    <p>{{about.paragraph-1}}</p>
                    <p>{{about.paragraph-2}}</p>
                    <h3>{{about.offer}}</h3>
                </div>
            </div>
        </section>
        {{.footer}}
    </body>
</html>