<section class="info">
    <div id="wrapper">
        <a class="info-close">{{info.close}}<span>×</span></a>
        <img/>
        <h2>TITLE</h2>
        <p class="description">Description</p>
    </div>
    <div id="controls">
        <a id="previous">{{info.previous}}</a>
        <p></p>
        <a id="next">{{info.next}}</a>
    </div>
</section>
<div class="info-close-area"></div>