
<nav id="desktop">
    <div class="topnav">
        <a href="/{{locale}}/" class="logo">
            <img src="/dist/images/logo-{{locale}}.png"/>
        </a>
        <div class="main">
            <a href="/{{locale}}/">{{home}}</a>
            <a href="/{{locale}}/about-us.html">{{about-us}}</a>
            <h2 class="dropdown">
                {{services}}
                <div class="dropdown-icon">
                    <span></span>
                    <span></span>
                </div>
                <div class="dropdown-container">
                    <a href="/{{locale}}/services/crude-oil-washing.html">{{services-dropdown.crude-oil-washing}}</a>
                    <a href="/{{locale}}/services/mechanical-sludge-removal.html">{{services-dropdown.mechanical-sludge-removal}}</a>
                    <a href="/{{locale}}/services/tank-wall-and-vertical-steel-surfaces-cleaning.html">{{services-dropdown.tank-wall-and-vertical-steel-surfaces-cleaning}}</a>
                    <a href="/{{locale}}/services/acoustic-3D-sludge-mapping-in-a-filled-tank.html">{{services-dropdown.acoustic-3D-sludge-mapping-in-a-filled-tank}}</a>
                    <a href="/{{locale}}/services/abrasive-waterjet-cutting.html">{{services-dropdown.abrasive-waterjet-cutting}}</a>
                    <a href="/{{locale}}/services/auxiliary-equipment.html">{{services-dropdown.auxiliary-equipment}}</a>
                    <!-- a href="/{{locale}}/services/equipment-and-qualified-personnel-rental-for-tank-cleaning-operations.html">{{services-dropdown.equipment-and-qualified-personnel-rental-for-tank-cleaning-operations}}</!-->
                    <a href="/{{locale}}/services/rental-of-equipment.html">{{services-dropdown.rental-of-equipment}}</a>
                </div>
            </h2>
            <a href="/{{locale}}/gallery.html">{{gallery}}</a>
            <a href="/{{locale}}/contacts.html">{{contacts}}</a>
            <a></a>
        </div>
        <div class="language-select">
            <a href="/en{{.dir}}"><img src="/dist/images/en.svg" alt="{{english}}"></a>
            <a href="/ru{{.dir}}"><img src="/dist/images/ru.svg" alt="{{russian}}"></a>
            <a href="/kz{{.dir}}"><img src="/dist/images/kz.svg" alt="{{kazakh}}"></a>
        </div>
        <!--<div class="standard-links">
            <a href="#view-0">ISO 9001:2008</a>
            <a href="#view-1">ISO 14001:2004</a>
            <a href="#view-2">OHSAS 18001:2007</a>
        </div>-->
    </div>
</nav>
<nav id="mobile">
    <!--<div class="standard-links">
        <a href="#view-0">ISO 9001:2008</a>
        <a href="#view-1">ISO 14001:2004</a>
        <a href="#view-2">OHSAS 18001:2007</a>
    </div>-->
    <div class="navbar-cell">
        <div class="dropdown-icon">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div><div class="navbar-cell">
        <a href="/{{locale}}/" class="logo">
            <img src="/dist/images/logo-{{locale}}.png"/>
        </a>
    </div><div class="navbar-cell">
        <div class="language-select">
            <a href="/en{{.dir}}"><img src="/dist/images/en.svg" alt="{{english}}"></a>
            <a href="/ru{{.dir}}"><img src="/dist/images/ru.svg" alt="{{russian}}"></a>
            <a href="/kz{{.dir}}"><img src="/dist/images/kz.svg" alt="{{kazakh}}"></a>
        </div>
    </div>
</nav>
<div class="mobile-dropdown">
    <a href="/{{locale}}/">{{home}}</a>
    <a href="/{{locale}}/about-us.html">{{about-us}}</a>
    <h2 class="dropdown">
        {{services}}
        <div class="dropdown-icon">
            <span></span>
            <span></span>
        </div>
        <div class="dropdown-container">
            <br/>
            <a href="/{{locale}}/services/crude-oil-washing.html">{{services-dropdown.crude-oil-washing}}</a>
            <a href="/{{locale}}/services/mechanical-sludge-removal.html">{{services-dropdown.mechanical-sludge-removal}}</a>
            <a href="/{{locale}}/services/tank-wall-and-vertical-steel-surfaces-cleaning.html">{{services-dropdown.tank-wall-and-vertical-steel-surfaces-cleaning}}</a>
            <a href="/{{locale}}/services/acoustic-3D-sludge-mapping-in-a-filled-tank.html">{{services-dropdown.acoustic-3D-sludge-mapping-in-a-filled-tank}}</a>
            <a href="/{{locale}}/services/abrasive-waterjet-cutting.html">{{services-dropdown.abrasive-waterjet-cutting}}</a>
            <a href="/{{locale}}/services/auxiliary-equipment.html">{{services-dropdown.auxiliary-equipment}}</a>
            <!-- a href="/{{locale}}/services/equipment-and-qualified-personnel-rental-for-tank-cleaning-operations.html">{{services-dropdown.equipment-and-qualified-personnel-rental-for-tank-cleaning-operations}}</!-->
            <a href="/{{locale}}/services/rental-of-equipment.html">{{services-dropdown.rental-of-equipment}}</a>
        </div>
    </h2>
    <a href="/{{locale}}/gallery.html">{{gallery}}</a>
    <a href="/{{locale}}/contacts.html">{{contacts}}</a>
</div>
<div class="navbar-spacer"></div>
<div class="navbar-image-viewer image-viewer hidden disabled">
    {{.image-viewer}}
</div>